:root {
  --primary: #405235;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  margin: 0 auto;
}

.logo-div {
  width: 80px;
}
header {
  display: flex;
  height: 80px;

  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;
}
div.harmburger {
  width: 40px;
  height: 33px;
  text-align: center;
}
.harmburger .line {
  width: 30px;
  height: 3px;
  margin: 6px;
  background: violet;
}

header nav {
  position: absolute;
  top: 80px;
  right: 10px;
  border: 1px solid black;
  margin: 0;
  padding: 2px;
  background: #111b11;
  height: 450px;
  width: 100vw;
  opacity: 0;
  overflow: hidden;
}

header nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  text-align: center;
  margin: 80px auto 80px auto;
  border-radius: 50px;
  width: fit-content;
  background: red;
}
header nav ul li a:hover {
  background: #405235;
  transition: 0.5s;
}

img {
  width: 100%;
  height: inherit;
  object-fit: cover;
}

main {
  border: 1px solid black;
}
footer .footerLogo {
  width: 100px;
  height: 100px;
}
footer {
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.fa-brands.fa-youtube {
  color: red;
}
.management .imagediv {
  width: 100px;
  height: 100px;
}
