:root {
  --primary: #405235;
}
header {
  border: 1px solid black;
}
nav {
  width: 100%;
  background-color: #eae9e4;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: 0px;
}
nav ul li {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Cormorant Garamond";
  font-weight: 800;
}
nav ul li a {
  text-align: left;
  display: block;
  text-decoration: none;
  color: #000000;
}
nav ul li a:hover {
  color: bisque;
  background-color: #267b51;
}
img {
  width: 100%;
  height: inherit;
  object-fit: cover;
}
header div {
  margin: 0 auto;

  width: 120px;
  height: 120px;
}
header h1 {
  text-align: center;
  margin: 0;
  font-family: "Work Sans";
}
main {
  border: 1px solid black;
}
footer .footerLogo {
  width: 100px;
  height: 100px;
}
footer {
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.fa-brands {
  color: blue;
}
.fa-brands.fa-youtube {
  color: red;
}
